@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400|Oswald:400,600');
$bold:  'Oswald', sans-serif;
$mainfont: 'Open Sans', sans-serif;


$ligth: #f9f9f9;
$primary: #087E8B;
$blue: #3399cc;
$alert: #FF5A5F;